[Desktop Entry]
Version=1.0
Type=Application
Name=Projection
Comment=ROS2 Qt Control Panel
Exec=/home/sunrise/projection_ws/run/run_panel.sh
Icon=face-glasses
Terminal=true
StartupNotify=true
Categories=Development;
